*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
   // height: 100vh;
    justify-content: center;
    align-items: center;
   // background: linear-gradient(135deg,#71b7e6,#9b59b6 );
    padding:10px;
    
}

.login{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding:25px 30px;
    border-radius: 5px;

}

.login .title{
    font-size:25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
    
}

.login .title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom:0;
    height:3px;
    width:70px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6 );
}

form .user-details .input-box{
    margin:20px 0 12px 0;
    //width:calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display:block;
    font-weight: 500;
    margin-bottom: 8px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus{
    border-color: rgb(136, 135, 135);
}
form .button{
    height:45px;
    margin:20px 0;
}

form .button input{
    border-radius: 5px;
    height:100%;
    width:100%;
    outline:none;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px ;
    background: linear-gradient(135deg,#71b7e6,#9b59b6 );
    border: none;
    transition-duration: 0.5s;
}

form .button input:hover{
    background: linear-gradient(-135deg,#71b7e6,#9b59b6 );
}

form .input-box p{
    color: #607d8b;
}

form .input-box a{
    color: #71b7e6;
}


.user-details .input-box input:disabled{
    background: linear-gradient(135deg,#71b7e1,#9b59b1);
}
.user-details .input-box input:disabled:hover{
    background: linear-gradient(135deg,#71b7e1,#9b59b1);
}



//angular
.user-details .input-box input.ng-touched.ng-invalid{
    border: 1px solid red; 
    border-bottom-width: 2px;
}

