.navbar{
    border-bottom: 3px solid rgb(233, 232, 232);
    background-color: #5cdb95;
    color:aliceblue;
    padding: 0px;
}


ion-icon {
    font-size: 28px;
    color:black;
    --ionicon-stroke-width: 16px;
  }

.underlinestyle{
    text-decoration: underline;
    text-decoration-color:#9b59b6 ;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    

}