
    <div class="row rounded shadow-sm mb-5" >
        <div class="col-md-8 col-sm-6 col-lg-12 d-flex justify-content-between p-3">
            <button class="btn btn-secondary " routerLink="/admin-dashboard/mng-users">Manage Users</button>
            <h2 class="font-weight-bold">ADMIN DASHBOARD</h2>
            <button class="btn btn-secondary" routerLink="/admin-dashboard/mng-products">Manage Products</button>
        </div>
    </div>
    <div class=" row  d-flex justify-content-between shadow-sm rounded p-3">
        <div class="col">
            <h1 type="button" (click)="onClick()">Sales Report</h1>
           
        </div>
        <div class="col">
            <form (ngSubmit)="onSubmit()" #f = "ngForm" >
                <div class="form-row">
                <div class="col">
                    <input type="date" class="form-control"  ngModel name="from" required > 
                </div>
                <div class="col">
                    <input type="date" class="form-control" ngModel name="to" required>
                </div>
                <div class="col">
                    <button class="btn btn-success" [disabled]="!f.valid">submit</button>
                </div>

            </div>
          </form>
        </div>
    </div>

        <div class="row my-4">
            <div class="col-lg-12 mx-auto bg-white rounded shadow">

                <!-- Fixed header table-->
                <div class="table-responsive">
                    <table class="table fixed">
                        <thead class="mb-5">
                            <tr>
                                <th scope="col" class="p-3">#</th>
                                <th scope="col" class="p-3">Image</th>
                                <th scope="col" class="">Product Name</th>
                                <th scope="col" class="">Category</th>
                                <th scope="col" class="">Price</th>
                                <th scope="col" class="">Current Stock</th>
                                <th scope="col" class="">Total Orders</th>
                                <th scope="col" class="">Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of report">
                                <th scope="row" class="text-muted" *ngIf="product.productId!=null">{{product.productId}}</th>
                                <th scope="row" class="text-muted" *ngIf="product.productId!=null">
                                    <img src="assets/images/{{product.productImage}}" alt="{{product.productName}}" style="width:70px;height:65px">
                                </th>
                                <td class="text-muted p-3" *ngIf="product.productId!=null">{{product.productName}}</td>
                                <td class="text-muted" *ngIf="product.productId!=null">{{product.productCategory}}</td>
                                <td class="text-muted" *ngIf="product.productId!=null" >{{product.price}}</td>
                                <td class="text-muted" *ngIf="product.productId!=null">{{product.currentStock}}</td>
                                <td class="text-muted" *ngIf="product.productId!=null">{{product.orderedAmount}}</td>
                                <td class="text-muted" *ngIf="product.productId!=null">{{product.profit}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>







